body{
    background-image: url(https://i.pinimg.com/736x/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

*{
    box-sizing: border-box;
}

h1{
    background-color: #D0ECE7;
    text-shadow: 1px 1px 2px black;
    max-width: 95%;
    color: rgb(250, 103, 11);
    text-align: center;
    margin: auto;
    margin-top: 1%;
    border-radius: 0.2rem;
}

.naming{
    margin: auto;
    width: 100%;
}

/* list styling */
ul{
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li{
    color: white;
    font-weight: bolder;
}

/* bullet styling */
.bullet{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}


/* container styling */

.container{
    display: grid;
    max-width: 95%;
    margin: 1% auto auto auto;
    text-align: center;
}



/* grid styling */

.grid{
    display: grid;
}

.grid1{
    grid-area: 1 / 1 / 8 / 2; 
}
.grid2{
    grid-area: 2 / 2 / 8 / 3;
}
.grid3{
    grid-template-columns: repeat(10,1fr);
    grid-area: 4 / 3 / 8 / 13;
}
.grid4{
    grid-template-columns: repeat(5,1fr);
    grid-area: 2 / 13 / 8 / 18;
}
.grid5{
    grid-area: 1 / 18 / 8 / 19;
}
.grid6{
    grid-template-columns: repeat(14,1fr);
    grid-area: 8 / 3 / 10 / 17;
}

/* items styling */

.alkali{
    background-color:#FFFF5D;
}

.nonmetal{
    background-color: #FFB8DE;   
}

.transition{
    background-color: #FF8F8F;
}

.lanthanums{
    background-color: #39CE87;   
}

.actanums{
    background-color: #B4D7FF;
}

.post-transition{
    background-color: #F1D766;
}

.metalloid{
    background-color: #D5B1F2;
}

.noble{
    background-color:#6de8ea;    
}

.alkaline{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

.unknown{
    background-color: #D3FFCE;
}

.items{
    border: 1px solid black;
    position: relative;
}

.item1,.item2,.item3,.item4,.item5,.item6{
    position: relative;
    text-align: center;
}

.item1 p,.item2 p,.item3 p,.item4 p,.item5 p,.item6 p{
    position: absolute;
    left: 1px;
    top: -0.8em;
    font-size: smaller;
}

.items h6{
    position: absolute;
    text-align: center;
    left: 2px;
    top: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.items:hover{
    box-shadow: 1px 1px 5px black;
    font-weight: bold;
    animation-name: hovering;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

.naming ul li div:hover{
    box-shadow: 1px 1px 5px paleturquoise;
    font-weight: bold;
    animation-name: hovering;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes hovering{
    to{
        transform: scale(1.1,1.1);
    }
}
